.home-page {
    border: 1px solid black;
    background-color: red;
    width: 37rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: -22rem;
    margin-left: -3rem;
    background-color: hsl(214, 17%, 84%);
    
}