.home-page {
    width: 37rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: -22rem;
    margin-left: -3rem;
    background-color: hsl(214, 17%, 84%);
    overflow-y: auto;
    scroll-behavior: smooth;

    /* ✅ Hide scrollbar in Firefox */
    /* scrollbar-width: none; */

    /* ✅ Hide scrollbar in Internet Explorer/Edge */
    /* -ms-overflow-style: none; */
}

/* ✅ Hide scrollbar in Chrome, Safari, Opera */
/* .home-page::-webkit-scrollbar {
    display: none;
} */




.assignment {
    width: 100%;
    max-width: 38rem;
    background-color: #ffffff;
    padding: 14px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.25s ease;
    border: 1px solid #eee;
    padding-bottom: 2rem;
}

.assignment:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.left {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 4rem;
    background-color: #ffffff;
}

.task-text {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    background-color: #ffffff;
}

.delete-icon {
    font-size: 1.4rem;
    cursor: pointer;
    color: #2f2d2d;
    transition: 0.2s ease;
    background-color: #ffffff;
}

.delete-icon:hover {
    color: #c9302c;
    transform: scale(1.15);
}

.checkBox {
    background-color: #ffffff;
    padding: 2rem;
}