.reminderContainer {
    width: 16rem;
    height: 25vh;
    justify-self: right;
    justify-content: center;
    margin-right: 4rem;
    margin-top: 1rem;
    background-color: rgb(12, 14, 60);
    border-radius: 1rem;
    color: white;
}


.quote {

    display: flex;
    justify-content: center;
    background-color: rgb(12, 14, 60);
    padding-top: 1rem;
    font-size: 2rem;
    margin-bottom: .5rem;
    border-radius: 1rem;
}

.message {
    width: 85%;
    height: 15vh;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; /* vertically center text */
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(43, 162, 226, 0.85); /* slight transparency */
    border-radius: 1rem;
    letter-spacing: 0.1rem;
    color: white; /* ensures text is readable on transparent background */
}
