.sidebar-container {
    width: 20rem;
    height: 50vh;
    margin-top: 10rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.container {
    display: flex;
    gap: 0.8rem;
    padding: 0.7rem 1rem;
    border-radius: 0.6rem;
    font-size: 1.5rem;
    color: #444a51;
    font-weight: 500;
    transition: color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    margin-top: 1rem;


}

.container:hover {
  background-color: #2563eb;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(37, 99, 235, 0.2);
}



